@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}
 

body {
    margin: 0;
}

$mainColor: #0B132B;
$secondColor:#5BC0BE;
$baseColor:#FFFFFF;

@import "./Admin/Statistics";
@import "./ModifierProfile.scss";
@import "./Admin/AddLivreur";
@import "./Admin/TableauDeBord";
@import "./Admin/SideBarAdmin";
@import "./Admin/AdminLogin";
@import "./Admin/NavbarAdmin";
@import "./Admin/DemandeDemenagementsAdmin";
@import "./Admin/DemandeLivraisonsAdmin";
@import "./Admin/AdminResponse";
@import "./User/UserLogin";
@import "./User/UserRegister";
@import "./User/SideBar";
@import "./User/Navbar";
@import "./User/UserDashboard";
@import "./User/DemandeLivraisons";
@import "./User/DemandeDemenagements";
@import "./User/HistoriqueLivraisons";
@import "./User/HistoriqueDemenagements";
@import "./User/NotificationPage";
@import "./User/UserResponseToAdmin";
@import "./Livreur/LivreurLogin";
@import "./Livreur/LivreurDemandeLivraisons";
@import "./Livreur/LivreurDashboard";
@import "./Admin/AddEntreprise";
@import "./Entreprise/EntrepriseLogin";
@import "./Home";
@import "./ModifierProfile";
@import"./Admin/AssosiateToLiv";



.selectedLiv {
    background-color: #0B132B;
    color: white;
}

.ratingHolder{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b132b5a;
    & > div {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0B132B;
        padding: 1em;
        border-radius: 5px;
        h1{
            color: white;
        }
        button{
            width: 100%;
            display: block;
            outline: none;
            border: none;
            padding: .5em;
            border-radius: 5px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}