@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  margin: 0;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-container .statistics-header {
  display: flex;
  align-items: center;
  background-color: #0B132B;
  border-radius: 20px;
  width: 950px;
  max-width: 950px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.statistics-container .statistics-header h1 {
  color: white;
  margin-left: 10px;
}
.statistics-container .income-card, .statistics-container .livreur-card {
  display: flex;
  align-items: center;
  background-color: #5BC0BE;
  width: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.statistics-container .income-card h2, .statistics-container .livreur-card h2 {
  margin-top: 10px;
  color: #0B132B;
  font-size: 1.2em;
}
.statistics-container .income-card p, .statistics-container .livreur-card p {
  margin-top: 10px;
  font-size: 1.5em;
  color: white;
}
.statistics-container .reasons-card, .statistics-container .users-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 750px;
  margin-bottom: 20px;
}
.statistics-container .reasons-card h2, .statistics-container .users-card h2 {
  text-align: center;
  color: #0B132B;
  margin-bottom: 20px;
}
.statistics-container h2 {
  margin-top: 20px;
  color: #0B132B;
}
.statistics-container canvas {
  margin-top: 20px;
}

.holderInStats {
  width: 100%;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.holderInStats .avgRating {
  background-color: #0B132B;
  border-radius: 20px;
  flex-grow: 1;
  padding: 0.5em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.holderInStats .avgRating h1 {
  font-size: 1.2em;
  margin: 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 20px;
}

.profile-title {
  color: #0B132B;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.profile-form {
  background-color: #0B132B;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.profile-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.profile-form .form-group label {
  color: #5BC0BE;
  font-weight: bold;
  margin-bottom: 5px;
}
.profile-form .form-group input {
  background-color: whitesmoke;
  color: #0B132B;
  border: 1px solid #5BC0BE;
  padding: 10px;
  border-radius: 5px;
}
.profile-form .submit-button {
  align-self: center;
  background-color: #5BC0BE;
  color: #0B132B;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.profile-form .submit-button:hover {
  background-color: #40a8a6;
}

.add-livreur-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.add-livreur-box {
  width: 400px;
  background-color: #0B132B;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.add-livreur-title {
  color: #5BC0BE;
  text-align: center;
  margin-bottom: 20px;
}

.add-livreur-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: white;
  margin-bottom: 5px;
}

.form-group input[type=text],
.form-group input[type=password],
.form-group input[type=tel],
.form-group input[type=email] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.submit-button {
  background-color: #5BC0BE;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submit-button:hover {
  background-color: #2C394B;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.box {
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.imgliv {
  width: 10px;
  height: 100px;
  margin-bottom: 20px;
}

.title1 {
  color: #5BC0BE;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.button {
  background-color: #0B132B;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.button:hover {
  background-color: darkblue;
}

.box-left {
  margin-left: 100px;
  margin-right: 100px;
}

.box-right {
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title2 {
  color: #5BC0BE;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.entreprise-imagee {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: none;
}

.livreur-imagee {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  margin-top: none;
}

.sidebarAdmin {
  position: relative;
  background-color: #0B132B;
  width: 100%;
  max-width: 300px;
  color: white;
  padding-top: 20px;
  height: 100vh;
}
.sidebarAdmin .logo {
  max-width: 100%;
  height: auto;
}
.sidebarAdmin .logo img {
  width: 100%;
}
.sidebarAdmin .section {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 1em;
  cursor: pointer;
}
.sidebarAdmin .section-title {
  font-weight: bold;
  color: #5BC0BE;
  display: flex;
  align-items: center;
}
.sidebarAdmin .section-title .title-text {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.sidebarAdmin .subsection {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
}
.sidebarAdmin .subsection svg {
  margin-right: 0.3em;
}
.sidebarAdmin .subsection i {
  margin-right: 5px;
}

.title-text {
  color: white;
  text-decoration: none;
}

.AdminLogin {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.AdminLogin .innerAdminLoginBackground {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.AdminLogin .innerAdminLoginBackground div {
  flex-grow: 1;
}
.AdminLogin .innerAdminLoginBackground .a {
  background-color: #0B132B;
}
.AdminLogin .innerAdminLoginHolder {
  position: relative;
  width: 100%;
  height: 85vh;
  border-radius: 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.AdminLogin .innerAdminLoginHolder div {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.AdminLogin .innerAdminLoginHolder div img {
  width: 100%;
  max-width: 500px;
}
.AdminLogin .innerAdminLoginHolder .a {
  background-color: #f5f5f6;
  justify-content: space-around;
}
.AdminLogin .innerAdminLoginHolder .b {
  padding-top: 3em;
}
.AdminLogin .innerAdminLoginHolder .b > h1 {
  font-size: 2.5em;
  color: #5BC0BE;
  border-bottom: 3px solid #5BC0BE;
}
.AdminLogin .innerAdminLoginHolder .b form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AdminLogin .innerAdminLoginHolder .b form > div {
  display: flex;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.208);
  flex-direction: row;
  margin: 0.8em 0;
  padding: 1em;
  border-radius: 30px;
}
.AdminLogin .innerAdminLoginHolder .b form > div svg {
  font-size: 2.2em;
  color: rgba(0, 0, 0, 0.849);
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.AdminLogin .innerAdminLoginHolder .b form > div input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1.2em;
  background-color: transparent;
}
.AdminLogin .innerAdminLoginHolder .b form button {
  width: 250px;
  font-size: 2em;
  background-color: #5BC0BE;
  text-align: center;
  border-radius: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 0.2em;
  margin-top: 2em;
  cursor: pointer;
}

.navbarAdmin {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0.5em auto;
  border-radius: 10px;
}
.navbarAdmin .navbar-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbarAdmin .icon {
  margin-right: 20px;
  font-size: 2em;
  color: #0B132B;
  cursor: pointer;
}
.navbarAdmin .profileBtn {
  width: 40px;
}

.notifsIconInNavBarHolder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifsIconInNavBarHolder span {
  position: absolute;
  top: -0.5em;
  right: 1em;
  background-color: green;
  color: whitesmoke;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.demande-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #0B132B;
  text-align: center;
}

.spacer {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 660px;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}

.action-id, .user-name {
  margin-bottom: 10px;
  color: #5BC0BE;
}

.black-text {
  color: black;
}

.demande-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #0B132B;
  text-align: center;
}

.spacer {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 660px;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}

.action-id, .user-name {
  margin-bottom: 10px;
  color: #5BC0BE;
}

.black-text {
  color: black;
}

.admin-response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-title {
  margin-top: 20px;
}

.response-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.response-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Black shadow */
  width: 100%; /* Adjust as needed */
  max-width: 800px; /* Adjust as needed */
}

.response-form > p {
  background-color: #0B132B;
  margin: 0.5em 0;
  color: white;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.response-form > p > span {
  background-color: #0B132B;
  color: #5BC0BE;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: 0.5em;
  font-weight: 900;
  text-align: center;
  flex-grow: 1;
}

.adminResponseHeaderTitle {
  background-color: #0B132B;
  padding: 1em;
  color: #5BC0BE;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.adminResponseHeaderTitle > span {
  background-color: #5BC0BE;
  color: #0B132B;
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 1em;
  font-size: 0.7em;
  text-transform: none;
}

.imagesHolderInAdminResponse {
  background-color: #0B132B;
  color: white;
  border-radius: 10px;
  padding: 1em;
}

.imagesHolderInAdminResponse > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.imagesHolderInAdminResponse > h1 {
  margin-left: 1em;
  color: #5BC0BE;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
}

.imagesHolderInAdminResponse > div > img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin: 0.5em;
  border-radius: 10px;
}

.adminResponseFormHolder {
  width: 100%;
  background-color: #0B132B;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0.7em 1.5em;
}

.adminResponseFormHolder > h1 {
  text-align: center;
  color: #5BC0BE;
}

.priceSelection, .dateSelection, .adminMessage {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.priceSelection > label {
  font-size: 1.5em;
  font-weight: 900;
}

.dateSelection > label {
  font-size: 1.5em;
  font-weight: 900;
}

.priceSelection > input {
  outline: none;
  padding: 1em;
  border-radius: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  border: none;
}

.dateSelection > input {
  outline: none;
  padding: 1em;
  border-radius: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  border: none;
}

.adminMessage > textarea {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  padding: 1em;
  text-transform: capitalize;
}

.adminResponseFormHolder > button {
  outline: none;
  padding: 1em;
  border-radius: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: none;
}

html, body {
  height: 100%;
  margin: 0;
}

.user-login-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.welcome-section {
  flex-grow: 1;
  max-width: 700px;
  background-color: #0B132B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.logo-container img {
  max-width: 100%;
  max-width: 350px;
  height: auto;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%);
}

.welcome-text {
  text-align: center;
  color: #fff;
}
.welcome-text h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
.welcome-text .white-text {
  color: #fff;
  text-transform: capitalize;
}
.welcome-text .green-button {
  background-color: #5BC0BE;
  color: #fff;
  padding: 0.7em 2em;
  width: 100%;
  max-width: 200px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
}

.login-section {
  flex-grow: 1;
  background-color: #fff;
  padding: 1em;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  margin: 0 1.4em;
  font-size: 1.5em;
  color: #0B132B;
  text-transform: capitalize;
  cursor: pointer;
}

.login-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  border: 2px solid #5BC0BE;
  border-radius: 20px;
  padding: 4em 3em;
  margin: 0 auto;
  margin-top: 5em;
}
.login-box h2 {
  font-size: 2em;
  color: #5BC0BE;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 2px solid #5BC0BE;
  padding-bottom: 0.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.login-box .input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.208);
  border-radius: 40px;
  padding: 0.5em 1.5em;
  margin: 1.5em auto;
  width: 100%;
  max-width: 400px;
}
.login-box .input-group label {
  display: flex;
  font-size: 2em;
}
.login-box .input-group input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
}
.login-box button {
  background-color: #5BC0BE;
  color: #fff;
  padding: 0.7em 2em;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 30px;
  display: block;
  margin: 1em auto 0 auto;
}

.imageInsideWelcome {
  position: absolute;
  bottom: 0;
  right: -11em;
  width: 350px;
}

html, body {
  height: 100%;
  margin: 0;
}

.user-register-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.welcome-section {
  flex-grow: 1;
  max-width: 700px;
  background-color: #0B132B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.logo-container img {
  max-width: 100%;
  max-width: 350px;
  height: auto;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%);
}

.welcome-text {
  text-align: center;
  color: #fff;
}
.welcome-text h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
.welcome-text .white-text {
  color: #fff;
  text-transform: capitalize;
}
.welcome-text .green-button {
  background-color: #5BC0BE;
  color: #fff;
  padding: 0.7em 2em;
  width: 100%;
  max-width: 200px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
}

.register-section {
  flex-grow: 1;
  background-color: #fff;
  padding: 1em;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  margin: 0 1.4em;
  font-size: 1.5em;
  color: #0B132B;
  text-transform: capitalize;
  cursor: pointer;
}

.register-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  border: 2px solid #5BC0BE;
  border-radius: 20px;
  padding: 4em 3em;
  margin: 0 auto;
  margin-top: 5em;
}
.register-box h2 {
  font-size: 2em;
  color: #5BC0BE;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 2px solid #5BC0BE;
  padding-bottom: 0.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.register-box .input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.208);
  border-radius: 40px;
  padding: 0.5em 1.5em;
  margin: 1.5em auto;
  width: 100%;
  max-width: 400px;
}
.register-box .input-group label {
  display: flex;
  font-size: 2em;
}
.register-box .input-group input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
}
.register-box button {
  background-color: #5BC0BE;
  color: #fff;
  padding: 0.7em 2em;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 30px;
  display: block;
  margin: 1em auto 0 auto;
}

.imageInsideWelcome {
  position: absolute;
  bottom: 0;
  right: -11em;
  width: 350px;
}

.sidebar {
  position: relative;
  background-color: #0B132B;
  width: 300px;
  color: white;
  padding-top: 20px;
  height: 100vh;
}
.sidebar .logo {
  max-width: 100%;
  height: auto;
}
.sidebar .logo img {
  width: 100%;
}
.sidebar .section {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 1em;
  cursor: pointer;
}
.sidebar .section-title {
  font-weight: bold;
  color: #5BC0BE;
  display: flex;
  align-items: center;
}
.sidebar .section-title .title-text {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.sidebar .subsection {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
}
.sidebar .subsection svg {
  margin-right: 0.3em;
}
.sidebar .subsection i {
  margin-right: 5px;
}

.title-text {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: 1100px;
  margin: 0.5em auto;
  border-radius: 10px;
}
.navbar .navbar-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .icon {
  margin-right: 20px;
  font-size: 2.3em;
  color: #0B132B;
  cursor: pointer;
}
.navbar .profileBtn {
  width: 40px;
}

.notifsIconInNavBarHolder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifsIconInNavBarHolder span {
  position: absolute;
  top: -0.5em;
  right: 1em;
  background-color: green;
  color: whitesmoke;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.userDashboard {
  display: flex;
  height: 100vh;
}
.userDashboard main {
  flex-grow: 1;
  background-color: rgba(128, 128, 128, 0.208);
}

.dashboardOutletHolder {
  margin-top: 1em;
  height: 600px;
  overflow-y: scroll;
}

.demande-livraisons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demande-livraisons .demande-livraisons-box {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}
.demande-livraisons .demande-livraisons-box .titre {
  color: white;
  background-color: #5BC0BE;
  text-align: center;
  border-radius: 10px;
  padding: 0.3em;
  text-transform: capitalize;
}
.demande-livraisons .demande-livraisons-box .input-container {
  margin-top: 10px;
}
.demande-livraisons .demande-livraisons-box .input-container label {
  display: flex;
  align-items: center;
  color: #0B132B;
  font-size: 1.2em;
}
.demande-livraisons .demande-livraisons-box .input-container label svg {
  margin-right: 5px;
  color: #0B132B;
}
.demande-livraisons .demande-livraisons-box .input-container input,
.demande-livraisons .demande-livraisons-box .input-container select {
  width: calc(100% - 25px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btnn {
  color: white;
  background-color: #5BC0BE;
  text-align: center;
  border-radius: 10px;
  padding: 0.3em;
  text-transform: capitalize;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  cursor: pointer;
}

.demande-demenagements {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demande-demenagements-box {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}
.demande-demenagements-box .titre {
  color: white;
  background-color: #5BC0BE;
  text-align: center;
  border-radius: 10px;
  padding: 0.3em;
  text-transform: capitalize;
}
.demande-demenagements-box .input-container {
  margin-top: 10px;
}
.demande-demenagements-box .input-container label {
  display: flex;
  align-items: center;
  color: #0B132B;
  font-size: 1.2em;
}
.demande-demenagements-box .input-container label svg {
  margin-right: 5px;
  color: #0B132B;
}
.demande-demenagements-box .input-container input,
.demande-demenagements-box .input-container select {
  width: calc(100% - 25px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btnn {
  color: white;
  background-color: #5BC0BE;
  text-align: center;
  border-radius: 10px;
  padding: 0.3em;
  text-transform: capitalize;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  cursor: pointer;
}

.historique-livraisons {
  margin: 20px;
}
.historique-livraisons h2 {
  text-align: center;
}
.historique-livraisons .search-bar {
  margin-bottom: 20px;
  text-align: center;
}
.historique-livraisons .search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.historique-livraisons .history-table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.historique-livraisons .history-table-container table {
  width: 100%;
  border-collapse: collapse;
}
.historique-livraisons .history-table-container table th,
.historique-livraisons .history-table-container table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.historique-livraisons .history-table-container table th {
  background-color: #f2f2f2;
}
.historique-livraisons .status-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.historique-livraisons .status-button:hover {
  background-color: darkred;
}

.historique-demenagement {
  margin: 20px;
  text-align: center; /* Centering all elements inside this div */
}
.historique-demenagement h2 {
  text-align: center;
}
.historique-demenagement .search-bar {
  display: block; /* Ensures that it takes full width */
  margin: 0 auto 20px auto; /* Centers the search bar and adds margin below it */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%; /* Adjust width as needed */
}
.historique-demenagement .history-table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.historique-demenagement .history-table-container table {
  width: 100%;
  border-collapse: collapse;
}
.historique-demenagement .history-table-container table th,
.historique-demenagement .history-table-container table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.historique-demenagement .history-table-container table th {
  background-color: #f2f2f2;
}
.historique-demenagement .status-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.historique-demenagement .status-button:hover {
  background-color: darkred;
}

.notifPage {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.notifSection {
  width: 45%;
}
.notifSection > h2 {
  color: #0b132b;
  color: #5bc0be;
  background-color: #0b132b;
  border-radius: 19px;
  padding: 0 0.5em;
  text-align: center;
}

.innerNotifPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifInNotifPage {
  width: 100%;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  cursor: pointer;
  margin-bottom: 0.7em;
  border: 3px solid #0B132B;
}
.notifInNotifPage #a1 {
  width: 90%;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10pc;
  padding: 0.3em;
}
.notifInNotifPage #a2 {
  width: 90%;
  background-color: rgba(245, 245, 245, 0.499);
  text-align: center;
  border-radius: 10pc;
  padding: 1em;
  margin: 0.5em;
}
.notifInNotifPage #a3 {
  width: 90%;
  background-color: rgba(245, 245, 245, 0.499);
  text-align: center;
  border-radius: 10pc;
  padding: 0.3em;
}

.seen {
  background-color: rgba(245, 245, 245, 0.644);
}

.notSeen {
  background-color: #0B132B;
}

.UserResponseToAdminPage {
  width: 100%;
  padding: 1em;
}
.UserResponseToAdminPage h1 {
  background-color: #0B132B;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UserResponseToAdminPage h1 span {
  background-color: #5BC0BE;
  color: #0B132B;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 0.9em;
}
.UserResponseToAdminPage h2 {
  background-color: #0B132B;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em auto;
}
.UserResponseToAdminPage h2 span {
  background-color: #5BC0BE;
  color: #0B132B;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 0.9em;
}
.UserResponseToAdminPage p {
  margin: 0 auto;
  background-color: #0B132B;
  border-radius: 10px;
  padding: 1em;
  max-width: 700px;
  color: white;
}

.acceptHolder {
  margin: 0 auto;
  border-radius: 10px;
  padding: 1em;
  max-width: 700px;
  display: flex;
  justify-content: center;
}
.acceptHolder button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  font-size: 1em;
  min-width: 100px;
}

.livreur-login-container {
  display: flex;
  height: 100vh;
}

.left-part {
  position: relative;
  flex: 1;
  background-color: #0B132B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livreur-image {
  width: 100%;
  height: auto;
}

.logo-container {
  position: absolute;
  top: 20px; /* Adjust as needed */
}

.logo-image {
  width: 250px;
  height: 200px;
}

.right-part {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-part > form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-part input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.right-part button {
  width: 100%;
  padding: 10px;
  background-color: #0B132B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

tbody tr:last-child td {
  border-bottom: none;
}

.livreurDashboard {
  display: flex;
  height: 100vh;
}
.livreurDashboard main {
  flex-grow: 1;
  background-color: rgba(128, 128, 128, 0.208);
}

.dashboardOutletHolder {
  margin-top: 1em;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: 0px;
}
.dashboardOutletHolder::-webkit-scrollbar {
  display: none;
}

.popupHolder {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.69);
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}

.AddEntreprise {
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.add-entreprise {
  background-color: #0B132B; /* Couleur de fond du formulaire */
  padding: 20px;
  border-radius: 10px;
  width: 60%; /* Largeur du formulaire */
  margin: 0 auto; /* Centrer le formulaire */
}

label {
  font-weight: bold;
  color: #5BC0BE; /* Couleur du texte du label */
}

.inputs {
  width: 100%;
  padding: 10px;
  border: 1px solid #5BC0BE; /* Couleur de la bordure des champs de saisie */
  border-radius: 5px;
  font-size: 16px;
  background-color: #FFFFFF; /* Couleur de fond des champs de saisie */
  color: #0B132B; /* Couleur de texte des champs de saisie */
}

button[type=submit] {
  background-color: #5BC0BE; /* Couleur de fond du bouton */
  color: #FFFFFF; /* Couleur du texte du bouton */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type=submit]:hover {
  background-color: #0B132B; /* Couleur de fond du bouton au survol */
}

.error-message {
  color: red; /* Couleur du texte du message d'erreur */
  margin-top: 10px;
}

.entreprise-login-container {
  display: flex;
  height: 100vh;
}

.left-part {
  position: relative; /* Added */
  flex: 1;
  background-color: #0B132B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entreprise-image {
  margin-top: 70px;
  width: 100%;
  height: 60%;
}

.logo-container {
  top: 20px; /* Adjust as needed */
  /* Adjust as needed */
}

.logo-image {
  width: 280px; /* Adjust the width as necessary */
  height: 200px;
}

.right-part {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-part > form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-part > form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.right-part > form button {
  width: 100%;
  padding: 10px;
  background-color: #0B132B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.home-container {
  margin-top: 80px;
}

.nav {
  background-color: #0B132B;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.log {
  height: 70px;
  width: 170px;
}

.nav-middle {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.nav-middle span {
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 0.5em;
  font-weight: 700;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-right button {
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: #5BC0BE;
  color: #0B132B;
  padding: 0.8em 2em;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.contentn {
  display: flex;
  justify-content: space-between;
  background-color: rgba(91, 192, 190, 0.2509803922);
}

.main-content-left {
  flex: 1;
  margin-left: 3em;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold-green {
  font-weight: bold;
  color: #5BC0BE;
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 0.7em;
  margin-bottom: 0em;
  text-align: center;
}

.main-content-right {
  flex: 1;
  text-align: right;
}

.home-image {
  width: 620px;
  height: auto;
}

.voir-plus-btn {
  width: 100%;
  max-width: 400px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0.8em 1em;
  background-color: #0B132B;
  border: 5px solid #0B132B;
  color: #5BC0BE;
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 15px;
  margin-top: 1em;
  cursor: pointer;
}

.more-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.about-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.about-left {
  flex: 1;
  padding: 20px;
}

.about-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.services-section {
  background-color: #5BC0BE;
  text-align: center;
  padding: 80px 0;
}

.services-section h2 {
  color: #0B132B;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 50px;
}

.service-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  flex: 1;
  margin: 0 20px;
  max-width: 400px;
  text-align: center;
}

.service-card h3 {
  color: #0B132B;
  font-weight: bold;
}

.service-card p {
  color: #0B132B;
  font-size: 16px;
}

.contact-section {
  background-color: #0B132B;
  color: white;
  padding: 180px 0;
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 40px;
  color: #5BC0BE;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.icon-container {
  background-color: #F0F0F0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  margin: 0 auto 20px;
}

.service-icon {
  font-size: 50px;
  color: #0B132B;
}

.selectedLiv {
  background-color: #0B132B;
  color: white;
}

.ratingHolder {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 19, 43, 0.3529411765);
}
.ratingHolder > div {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B132B;
  padding: 1em;
  border-radius: 5px;
}
.ratingHolder > div h1 {
  color: white;
}
.ratingHolder > div button {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */