

.livreur-login-container {
    display: flex;
    height: 100vh;
  }
  
  .left-part {
    flex: 1;
    background-color: #0B132B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-part {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .livreur-image {
    width: 100%; 
    height: auto; 
  }
  
  .right-part > form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    align-items: center;
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #0B132B;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
  }
  
  
  
  
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  