// HistoriqueLivraisons.scss

.historique-livraisons {
    margin: 20px;
    h2 {
      text-align: center;
    }
    .search-bar {
      margin-bottom: 20px; // Espace entre la barre de recherche et le tableau
      text-align: center;  // Pour centrer la barre de recherche
      input {
        width: 100%; // L'entrée prendra toute la largeur disponible
        max-width: 600px; // Limite la largeur maximale
        padding: 10px; // Padding interne pour la barre de recherche
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
    .history-table-container {
      max-height: 400px; /* Adjust height as needed */
      overflow-y: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color: white;
      table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;
        }
        th {
          background-color: #f2f2f2;
        }
      }
    }
    .status-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: darkred;
      }
    }
  }
  